* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FEBE10;
    
}

body {
    background: linear-gradient(180deg, #00308f 35%, #1da1f2 100%);
}

/* ---------------------- EXTRAS */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FEBE10;
}

.div_container {
    /* border: solid 1px red; */ /* borda para ajudar na formatação */

    width: 1440px;
    margin: auto;

    border: solid 1px red;
}

/* ---------------------- HEADER */

header {
    height: 100px;
}

.header_div {
    display: flex;
    align-items: center;
    text-align: center;

    height: 100%;
}

#header_titulo {
    font-size: 3rem;
    width: 100%;
}

/* ---------------------- MAIN */

main {
    width: 100vw;
    height: 100vh;
    content: "";
}

#main_container {
    display: flex;
}

.main_div {
    border: solid 1px yellow;
    width: 50%;
    height: 50%;
}

#div1 {
    content: "";
}
#div2 {
    content: "";
    
}
#div3 {
    content: "";
    
}
#div4 {
    content: "";

}



/* ---------------------- FOOTER */

footer {
    background-color: transparent;
    
    height: 20vh;
    width: 100vw;

}

.footer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
}

#creation {
    font-size: 2rem;
}

/* ------------------ MEDIA QUERY */

@media (max-width: 1440px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 600px) {

}